/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts and backgrounds */
:root {
    /* Website Color Scheme */
    --clr-primary: rgba(87, 242, 178, 1);
    --clr-secondary: rgba(250, 174, 95, 1);

    --clr-neutral-white: rgba(246, 242, 233, 1);
    --clr-neutral-black: rgba(25, 25, 25, 1);
    --clr-neutral-grey: rgba(88, 89, 90, 1);

    --fontfamily-primary: Arial, Helvetica, sans-serif;

    --fontweight-thin: 200;
    --fontweight-normal: 400;
    --fontweight-heavy: 700;

    --fontsize-small: 0.7rem;
    --fontsize-normal: 1.1rem;
    --fontsize-large: 2rem;
    --fontsize-title: 3rem;

    --gap: 1rem;
    --flow-spacer: 1em;
}

/* COMPOSITION: Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
/* Page Layout choices */

/* Component Layout choices */

/* UTILITIES: One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */
/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-light { background-color: var(--clr-neutral-white); }

.background-dark { background-color: var(--clr-neutral-black); }

.background-primary { background-color: var(--clr-primary);}

.background-secondary { background-color: var(--clr-secondary);}

.text-colour-dark {color: var(--clr-neutral-black);}

.text-colour-light {color: var(--clr-neutral-white);}

/* BLOCKS: component specific rules */

/* EXCEPTIONS: variations to a block */

/* MEDIA QUERIES */
@media screen and (max-width:700px) {
  
}